nodester-wadl.xml

<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd"> 
 
  <!-- Base defines the domain and base path of the endpoint --> 
  <resources base="http://api.nodester.com"> 
 
    <resource path="coupon"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="request_coupon" name="POST" apigee:displayName="RequestCoupon"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Coupon</apigee:tag> 
          <apigee:tag>RequestCoupon</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="false" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/coupon" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Submits a registration coupon request for nodester node.js hosting.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			<param name="email" required="true" type="xsd:string" style="query" default=""> 
		      <!-- Docs are optional, but recommended. --> 
		      <doc>The email address where you would like the nodester coupon sent</doc> 
		    </param> 
		</request> 
	
      </method> 
    </resource>  

    <resource path="user"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="create_user" name="POST" apigee:displayName="CreateUser"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">User</apigee:tag> 
          <apigee:tag>CreateUser</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="false" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/user" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Creates a nodester user account with the coupon code received.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="coupon" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Coupon code received from nodester</doc> 
		    </param> 
		    <param name="user" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired username on nodester</doc> 
		    </param> 
		    <param name="password" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired password on nodester (do not use special characters like @ symbol)</doc> 
		    </param> 
		    <param name="email" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired email address on nodester</doc> 
		    </param> 
		    <param name="rsakey" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Your RSA key. Ensure that all + in the ssh key are substituted for their %2B counter parts, else your key will break. Run this on your command line to copy your RSA string and swap out the plus signs: "cat ~/.ssh/id_rsa.pub | sed s/'+'/'%2B'/g | pbcopy</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="update_user" name="PUT" apigee:displayName="UpdateUser"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">User</apigee:tag> 
          <apigee:tag>UpdateUser</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/user" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Update a nodester user account i.e. change password, email, rsakey.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="password" required="false" type="xsd:string" style="query" default=""> 
		      <doc>Desired password on nodester (do not use special characters like @ symbol)</doc> 
		    </param> 
		    <param name="email" required="false" type="xsd:string" style="query" default=""> 
		      <doc>Desired email address on nodester</doc> 
		    </param> 
		    <param name="rsakey" required="false" type="xsd:string" style="query" default=""> 
		      <doc>Your RSA key. Ensure that all + in the ssh key are substituted for their %2B counter parts, else your key will break. Run this on your command line to copy your RSA string and swap out the plus signs: "cat ~/.ssh/id_rsa.pub | sed s/'+'/'%2B'/g | pbcopy</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="delete_user" name="DELETE" apigee:displayName="DeleteUser"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">User</apigee:tag> 
          <apigee:tag>DeleteUser</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/user" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Delete your nodester user account.
	    </doc> 
		
      </method> 
    </resource>  

    <resource path="apps"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="get_apps" name="GET" apigee:displayName="GetApps"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Apps</apigee:tag> 
          <apigee:tag>GetApps</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/apps" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Gets a listing of your nodester apps.
	    </doc> 
	
      </method> 
    </resource>  

    <resource path="app"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="create_app" name="POST" apigee:displayName="CreateApp"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">App</apigee:tag> 
          <apigee:tag>CreateApp</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/app" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Creates a nodester application.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired application name on nodester</doc> 
		    </param> 
		    <param name="start" required="true" type="xsd:string" style="query" default="server.js"> 
		      <doc>Name of your starting javascript file if not server.js</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="update_app" name="PUT" apigee:displayName="UpdateApp"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">App</apigee:tag> 
          <apigee:tag>UpdateApp</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/app" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Update a nodester application i.e. change its starting javascript file name.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired application name on nodester</doc> 
		    </param> 
		    <param name="start" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Name of your starting javascript file if not server.js</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="startstop_app" name="PUT" apigee:displayName="StartStopApp"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">App</apigee:tag> 
          <apigee:tag>Start/Stop App</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/app" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Start or stop a nodester application.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Desired application name on nodester</doc> 
		    </param> 
		    <param name="running" required="true" type="xsd:string" style="query" default="true"> 
		      <doc>Set running to true or false to start or stop your application</doc> 
		    </param> 

		</request> 
	
      </method> 


      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="delete_app" name="DELETE" apigee:displayName="DeleteApp"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">App</apigee:tag> 
          <apigee:tag>DeleteApp</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/app" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Delete your nodester application.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Name of application to delete on nodester</doc> 
		    </param> 

		</request> 
		
	  </method> 
      
	
	  <method id="app_info" name="GET" apigee:displayName="GetAppInfo"> 

	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">App</apigee:tag> 
          <apigee:tag>GetAppInfo</apigee:tag> 
        </apigee:tags> 


        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/app/{appname}" /> 

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Get information about your nodester application.
	    </doc>     
		
      </method> 

    </resource>  


    <resource path="applogs"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="get_applogs" name="GET" apigee:displayName="GetAppLogs"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">AppLogs</apigee:tag> 
          <apigee:tag>GetAppLogs</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/applogs/{appname}" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Fetch your nodester application logs.
	    </doc> 
		
      </method> 
    </resource>  

    <resource path="env"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="get_env" name="GET" apigee:displayName="GetEnv"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Env</apigee:tag> 
          <apigee:tag>GetEnv</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/env" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Gets environment information on a key.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
		    <param name="key" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester environment key</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="update_env" name="PUT" apigee:displayName="UpdateEnv"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Env</apigee:tag> 
          <apigee:tag>UpdateEnv</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/env" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Update a nodester environment key.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
		    <param name="key" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester environment key</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="delete_env" name="DELETE" apigee:displayName="DeleteEnv"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Env</apigee:tag> 
          <apigee:tag>DeleteEnv</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/env" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Delete nodester environment key.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
		    <param name="key" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester environment key</doc> 
		    </param> 

		</request> 
		
      </method> 
    </resource>  

    <resource path="status"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="get_status" name="GET" apigee:displayName="GetStatus"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">Status</apigee:tag> 
          <apigee:tag>GetStatus</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="false" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/status" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Gets nodester system status.
	    </doc> 
	
      </method> 
    </resource>  

    <resource path="npm"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="npm_install" name="POST" apigee:displayName="NPMinstall"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">NPM</apigee:tag> 
          <apigee:tag>NPMinstall</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/npm" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Install, uninstall, and update NPM modules on your nodester application.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			<param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <!-- Docs are optional, but recommended. --> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
			<param name="action" required="true" type="xsd:string" style="query" default="install"> 
		      <!-- Docs are optional, but recommended. --> 
		      <doc>Values can be install, uninstall, or update</doc> 
		    </param> 
			<param name="package" required="true" type="xsd:string" style="query" default=""> 
		      <!-- Docs are optional, but recommended. --> 
		      <doc>Provide the name of the NPM module</doc> 
		    </param> 
		</request> 
	
      </method> 
    </resource>  

    <resource path="appdomains"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="get_domains" name="GET" apigee:displayName="GetDomains"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">AppDomains</apigee:tag> 
          <apigee:tag>GetDomains</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/appdomains" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Gets list of your domains.
	    </doc> 
		
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="create_domain" name="POST" apigee:displayName="CreateDomain"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">AppDomains</apigee:tag> 
          <apigee:tag>CreateDomain</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/appdomains" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Creates app domain for hosting example.com.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
		    <param name="domain" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide your domain such as example.com to nodester</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="delete_domain" name="DELETE" apigee:displayName="DeleteDomain"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">AppDomains</apigee:tag> 
          <apigee:tag>DeleteDomain</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/appdomains" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Deletes app domain for hosting example.com.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide nodester application name</doc> 
		    </param> 
		    <param name="domain" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide your domain such as example.com to nodester</doc> 
		    </param> 

		</request> 
		
      </method> 
    </resource>  

    <resource path="reset_password"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="reset_password_post" name="POST" apigee:displayName="ResetPasswordRequest"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">ResetPassword</apigee:tag> 
          <apigee:tag>ResetPasswordRequest</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="false" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/reset_password" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Sends a e-mail with a token to reset your user password.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="user" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide your nodester username</doc> 
		    </param> 

		</request> 
	
      </method> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="reset_password_put" name="PUT" apigee:displayName="ResetPasswordToken"> 
	
	    <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">ResetPassword</apigee:tag> 
          <apigee:tag>ResetPasswordToken</apigee:tag> 
        </apigee:tags> 
    
  
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/reset_password/{token}" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Updates your password using the provided token.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			
		    <param name="password" required="true" type="xsd:string" style="query" default=""> 
		      <doc>Provide your new nodester password</doc> 
		    </param> 

		</request> 
	
      </method> 

    </resource>  

    <resource path="gitreset"> 
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. --> 

      <!-- Methods should each have a unique id. --> 
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. --> 
      <method id="git-reset" name="POST" apigee:displayName="GitReset"> 

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
        <apigee:tags> 
          <apigee:tag primary="true">GitReset</apigee:tag> 
          <apigee:tag>GitReset</apigee:tag> 
        </apigee:tags> 
 
        <!-- Is authentication required for this method? --> 
        <apigee:authentication required="true" /> 
 
        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
        <apigee:example url="/gitreset" /> 
 
        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
	    <doc title="" apigee:url="http://nodester.com/api.html"> 
		  Resets your Nodester git repository and npm list.
	    </doc> 
	
		<request>
			<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/x-www-form-urlencoded"/>
			<param name="appname" required="true" type="xsd:string" style="query" default=""> 
		      <!-- Docs are optional, but recommended. --> 
		      <doc>Provide nodester appname to reset</doc> 
		    </param> 
		</request> 
	
      </method> 
    </resource>  



  </resources> 
</application>